doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    |   
    title CS6001 - Kush Patel
    // CSS
    link(href='/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    |   
    link(href='/css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    nav.light-blue.lighten-1(role='navigation')
      .container
        .nav-wrapper
          a#logo-container.brand-logo(href='/') CS 6001
          ul.right
            li
              a(href='/logout') Logout
    |   
    #index-banner.section.no-pad-bot
      .container
        br
        br
        |       
        h1.header.center.orange-text Products for sale
        |             
        br
        br
    |   
    .container
      .section
        a.btn-floating.btn-large.waves-effect.waves-light.red(href="/profile")
          i.mdi-navigation-arrow-back
        .row
          .col.s12
              .card-panel.grey
                span.white-text
                  b
                    | Selected Approaches:
                  br
                  if algorithms.indexOf('1') !== -1
                    | Plain Hash
                    br
                  if algorithms.indexOf('2') !== -1
                    | Hash with security key
                    br
                  if algorithms.indexOf('3') !== -1
                    | Hash with security key enrypted by PKI
                    br
                  if algorithms.indexOf('4') !== -1
                    | Hash with Password
                    br
                  if algorithms.indexOf('5') !== -1
                    | Hash with Session
                    br
                  if algorithms.indexOf('6') !== -1
                    | Two different hash with two different keys
                    br
        
        .row
          .col.s12
            form(id="item", method="POST", action="/item")
              .row
                .col.s12.m6.l4
                  .card
                    .card-image.waves-effect.waves-block.waves-light
                      img.activator(src='images/nexus9.png')
                    |         
                    .card-content
                      span.card-title.activator.grey-text.text-darken-4
                        | Nexus 9 
                        i.mdi-navigation-more-vert.right
                      |           
                      p
                        input#nexus9(name="nexuses", type="radio" required)
                        label(for="nexus9") $399.00
                    |         
                    .card-reveal
                      span.card-title.grey-text.text-darken-4
                        | Nexus 9 
                        i.mdi-navigation-close.right
                      |           
                      p
                        | Nexus 9 is the new tablet from Google. Powered by Android™5.0 Lollipop, Nexus 9 is for work and play, with its just-right 8.9-inch screen and front-facing stereo speakers.
                .col.s12.m6.l4
                  .card
                    .card-image.waves-effect.waves-block.waves-light
                      img.activator(src='images/nexus6.png')
                    |         
                    .card-content
                      span.card-title.activator.grey-text.text-darken-4
                        | Nexus 6 
                        i.mdi-navigation-more-vert.right
                      |           
                      p
                        input#nexus6(name="nexuses", type="radio" required)
                        label(for="nexus6") $699.00
                    |         
                    .card-reveal
                      span.card-title.grey-text.text-darken-4
                        | Nexus 6 
                        i.mdi-navigation-close.right
                      |           
                      p
                        | Versatile 6-inch Quad HD display is great for movies, videos, gaming, e-books, and surfing the web, with round-the-clock battery life.
                .col.s12.m6.l4
                  .card
                    .card-image.waves-effect.waves-block.waves-light
                      img.activator(src='images/nexus5.png')
                    |         
                    .card-content
                      span.card-title.activator.grey-text.text-darken-4
                        | Nexus 5 
                        i.mdi-navigation-more-vert.right
                      |           
                      p
                        input#nexus5(name="nexuses", type="radio" required)
                        label(for="nexus5") $399.00
                    |         
                    .card-reveal
                      span.card-title.grey-text.text-darken-4
                        | Nexus 5 
                        i.mdi-navigation-close.right
                      |           
                      p
                        | Nexus 5 helps you capture the everyday and the epic in fresh new ways. It's the slimmest and fastest Nexus phone ever made, powered by Android™ 4.4, KitKat®.
              .row
                .input-field.col.s12
                  textarea.materialize-textarea(id="message" name="message" required)
                  |         
                  label(for='message') Message
              if algorithms.indexOf('4') !== -1     
                .row
                  .input-field.col.s12
                    input#password.validate(type='password', name='password')
                    |         
                    label(for='password') Password
              |     
              .row
                button.btn.waves-effect.waves-light(type='submit', name='action')
                  | Buy
                  i.mdi-content-send.right   
      |     
      br
      br
      |     
      .section
    |   
    footer.page-footer.orange
      .container
        .row
          .col.l6.s12
            h5.white-text Created By:
            |           
            p.grey-text.text-lighten-4
              | Kush Patel
          |         
          .col.l3.s12
            
          |         
          .col.l3.s12
  
      |     
      .footer-copyright
        .container
          | Theme by 
          a.orange-text.text-lighten-3(href='http://materializecss.com') Materialize
    // Scripts
    script(src="/js/jquery-2.1.3.min.js")
    script(src='/js/materialize.js')
    script(src='/js/init.js')
    script(src="/js/sha1.js")
    script(src="/js/hmac-sha1.js")
    script(src="/js/hmac-md5.js")
    script(src="/js/jsencrypt.min.js")
    script(type="text/javascript").
      var algorithms = !{JSON.stringify(algorithms)}
      var req = new XMLHttpRequest();
      req.open('GET', document.location, false);
      req.send(null);
      var crypt = new JSEncrypt();
      var key1 = req.getResponseHeader('key1');
      var key2 = req.getResponseHeader('key2'); 
      var pubkey = req.getResponseHeader('pubkey');
      $("#item").submit(function(e) {
        e.preventDefault();
        var startTime = Date.now();
        var serialized = $('form').serialize();

        req.open('POST', '/item', true);
        
        if(algorithms.indexOf('1') !== -1){
          var plainhash = CryptoJS.SHA1(serialized);
          req.setRequestHeader('plainhash', plainhash);
        }
        if(algorithms.indexOf('2') !== -1){    
          var keyhash = CryptoJS.HmacSHA1(serialized, key1);
          req.setRequestHeader('keyhash', keyhash);
        }
        if(algorithms.indexOf('3') !== -1){     
          var symkey = Math.floor(Math.random()*101);
          symkey = symkey.toString();
          var pkihash = CryptoJS.HmacSHA1(serialized, symkey);
          crypt.setKey(pubkey);
          var encrypted = crypt.encrypt(symkey);
          req.setRequestHeader('pkihash', pkihash);
          req.setRequestHeader('symkey', encrypted);
        }
        if(algorithms.indexOf('4') !== -1){
          var passwordhash = CryptoJS.HmacSHA1(serialized, $('#password').val());
          req.setRequestHeader('passwordhash', passwordhash);
        }
        if(algorithms.indexOf('5') !== -1){
          var sid = document.cookie.match('connect.sid=([^;]*)')[1];
          sid = sid.substring(4, sid.indexOf('.'));
          if (sid.indexOf('%') != -1){
            sid = sid.replace(/%2B/gi, "+");
            sid = sid.replace(/%2F/gi, "/")
          }
          var sessionhash = CryptoJS.HmacSHA1(serialized, sid);
          req.setRequestHeader('sessionhash', sessionhash);
        }
        if(algorithms.indexOf('6') !== -1){    
          var firsthash = CryptoJS.HmacSHA1(serialized, key1);
          var secondhash = CryptoJS.HmacMD5(serialized, key2);
          req.setRequestHeader('firsthash', firsthash);
          req.setRequestHeader('secondhash', secondhash);
        }
        var endTime = Date.now();
        var processingTime = endTime - startTime;
        req.onreadystatechange = function() {
          if(req.readyState == 4 && req.status == 200) {
            console.log(req.responseText);
            alert(req.responseText + "\n Client Processing Time: " + processingTime + " msec");
          }
        }
        req.send(serialized);
      });
