doctype html
html
	head
		title Node Authentication     
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
		style.
			body        { padding-top:80px; }
	body
		.container
			.col-sm-6.col-sm-offset-3
				h1
					span.fa.fa-sign-in Login
				if message.length > 0
					.alert.alert-danger
						|	#{message}
				form(id="login", method="POST", action="/login")
					.form-group
						lable(for='username') User Name
						input.form-control#username(type='text', name='username')
					.form-group
						lable(for='password') Password
						input.form-control#password(type='password', name='password')
					button.btn.btn-warning.btn-lg(type="submit") Login