doctype html
html
  head
    title Node Authentication
    |     
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    |     
    style.
      body        { padding-top:80px; word-wrap:break-word; }
  body
    .container
      .page-header.text-center
        h1
          span.fa.fa-anchor
          |  Profile Page
        |         
        a.btn.btn-default.btn-sm(href='/logout') Logout

      form(id="algorithms", method="POST", action="/profile")
          .checkbox
            lable(for='plainhash') Plain Hash 
            input(type='checkbox', name='algorithm', value="1")
          .checkbox
            lable(for='withkey') Hash with security key
            input(type='checkbox', name='algorithm', value="2")
          .checkbox
            lable(for='withpki') Hash with security key enrypted by PKI
            input(type='checkbox', name='algorithm', value="3")
          .checkbox
            lable(for='withpassword') Hash with Password as key
            input(type='checkbox', name='algorithm', value="4")
          .checkbox
            lable(for='withsession') Hash with Session as key
            input(type='checkbox', name='algorithm', value="5")
          .checkbox
            lable(for='twokeytwohash') Two different hash with two different keys
            input(type='checkbox', name='algorithm', value="6")
          button.btn.btn-warning.btn-lg(type="submit") Submit